@if (Exibir)
{
    <div class="alert alert-primary" role="alert">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    public bool Exibir { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
